/*- - - - - - - - - - - - - - - - - - - -
	NAVIGATION
- - - - - - - - - - - - - - - - - - - - */
#mainmenu-container {
  @include Oswald-Light(18px);
  height:56px;

  #mainmenu {
    a {
      color:#176599;
      padding: 20px 0 20px 0 ;

      &:hover {
        color:#176599;
      }



    }

    & > li {
      padding: 0 40px;

      &:after {
        font-family:"FontAwesome";
        content:"\f111";
        font-size:8px;
        color:#edb83a;
        position: absolute;
        top: 23px;
        right: 0;
      }

      &:last-child {
        &:after {
          content:"";
        }
      }

      & > a {
        position: relative;

        &:after {
          content: ' ';
          margin-left: 0px;
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 3px;
          background-color: #edb83a;
          margin-left: 0;
          float: none;
          display: none;
          left: 0;

        }

      }

      &:hover, &.current-menu-item, &.current-menu-parent {
        & > a {
          &:after {
            display: block;
          }
        }


      }

      ul {
        padding-top: 10px;
        left: 20px;
        li {
          border-bottom: solid 1px #e5e5e5;

          a {
            padding: 20px ;
            background: #fff;
            color: #999999;

            &:hover {
              background: #edb83a;
              color: #fff;
            }
          }
        }


      }
    }

  }

}

header{
  #logo{
    .inner{
      margin: 17px 0 14px 0;
    }
  }
}

