/*
Accomodation page
--------------------------
Gallery
*/
.owl-theme{
  .owl-controls{
    margin-top: 17px;
    .owl-page{
      span{
        width: 11px;
        height: 11px;
        background: #ccc;
      }
      &.active{
        span{
          background: #093b50;
        }
      }
    }
  }
}
.room-single {
  .inner{
    background: #f3f3f3;
    padding: 40px 25px 40px 39px;;
    .text{
      h4{
        @include Oswald-Regular(18px,1);
        color:$c333;
        margin:0;
        padding-bottom: 15px;
      }
      p{
        @include Roboto-Regular(12px, 1.2);
        color:$c333;
      }
    }
  }
  .room-specs{
    margin-top: 18px;
    ul{
      li{
        border:none;
        @include Roboto-Regular(12px, 1.4);
        color:$c333;
        &:before{
          margin-right: 7px;
        }
      }
    }
    &.room-rates{
      ul{
        li {
          margin-bottom: 1px;
          padding-bottom: 0;
          &:before{
            content: "";
            margin:0;
          }
        }
      }
    }
  }
}