/*
Accomodation page
-------------------------
Gallery
*/
.owl-theme{
  .owl-controls{
    .owl-page{
      span{
        width: 11px;
        height: 11px;
        background: #ccc;
      }
      &.active{
        span{
          background: #093b50;
        }
      }
    }
  }
}