body {
  @include Roboto-Regular(12px, 1.4);
  color: #333333;
}
ul{
  padding:0;margin:0;
  li{
    list-style-type: none;
  }
}
.clear{clear: both;}
a{
  text-decoration: none;
}
h2 {
  @include Oswald-Light(28px);
  text-transform: uppercase;
  color: #3d93ba;
}
#content{
  padding: 82px 0;
  &.diving-content{
    padding-top: 0;
  }
}
h3{
  letter-spacing: 0;
}
#subheader{
  padding: 112px 0;
  h1{
    @include Oswald-Light(46px, 1);
    letter-spacing: 0;
    margin-bottom: 28px;
    margin-top: 0;
  }
  h3{
    @include Oswald-Regular(66px, 1);
    color: $white;
    letter-spacing: 25px;
    margin-bottom: 0;
  }
  
  &.location {
    background: url("../img/bg/bg-location.jpg") top center no-repeat;
    background-size: cover;
  }

  &.about {
    background: url("../img/bg/bg-about.jpg") top center no-repeat;
    background-size: cover;
  }

  &.spa {
    background: url("../img/bg/bg-spa.jpg") top center no-repeat;
    background-size: cover;
  }
}

.small-border {
  height: 4px;
}

#map-container {
  height: 400px;
  position: relative;

  .acf-map {
    height: 100%;
    width: 100%;
  }
}
#contact{
  div.wpcf7-mail-sent-ok{
    border: none;
  }
  div.wpcf7-response-output{
    @include Roboto-Regular(16px, 1.4);
    margin-top:0;
    color: #edb83a;
  }
}
#contact select{
margin-bottom: 0!important;
}