
/*===================FONTS=====================*/
@mixin Roboto-Regular ( $value, $line:1.1 ) {
  font-family: 'Roboto', sans-serif;
  font-size: $value;
  line-height: $line;
  font-weight: 400;
}
@mixin Oswald-Regular ( $value, $line:1.1 ) {
  font-family: 'Oswald', sans-serif;
  font-size: $value;
  line-height: $line;
  font-weight: 400;
}
@mixin Oswald-Light ( $value, $line:1.1 ) {
  font-family: 'Oswald', sans-serif;
  font-size: $value;
  line-height: $line;
  font-weight: 300;
}
@mixin Oswald-Bold ( $value, $line:1.1 ) {
  font-family: 'Oswald', sans-serif;
  font-size: $value;
  line-height: $line;
  font-weight: 700;
}

/*===================COLOR=====================*/
$white: #fff;
$c333: #333;
$c666: #666;
.btn{
  background: #edb83a;
  @include Oswald-Regular(18px, 1);
  padding: 13px 25px 12px;
  color: $white;
  border-radius: 0;
  margin-top:10px;
  &.orrange{
    background: #edb83a;
  }
}